{% extends 'base.html' %}

{% block main %}

<div class="container text-center" style="padding-top: 50px;">
    <form action="visit" method="POST" style="display: inline-block;">
        <input class="lead" id="code" name="code" value="" placeholder="Enter Code">
    <p>
      <input class="btn btn-primary my-2" type="submit" value="View">
    </p>
    </form>

    <form action="visit" method="POST" style="display: inline-block; margin-left: 50px;">
        <input class="lead" id="code" name="code" value="" placeholder="Enter Code">
    <p>
      <input class="btn btn-primary my-2" type="submit" value="View">
    </p>
    </form>
</div>

<div class="container text-center">
    
</div>

  <script>
      function myFunction() {
      var update_form = document.getElementById("update_form");
      update_form.style.display = "block";
    }
  </script>


{% endblock %}